{% spaceless %}
  <div class="tabbed-area">
    {% with widget.attrs.id as common_id %}
      {% for widget in widget.subwidgets %}
        {% if widget.attrs.lang %}
          <input class="itab" id="{{ widget.attrs.lang }}_{{ widget.attrs.id }}" type="radio" name="{{ common_id }}" {% if forloop.counter0 == active_tab|default:0 %} checked {% endif %}/>
          <label class="ltab" for="{{ widget.attrs.lang }}_{{ widget.attrs.id }}">
            {{ widget.attrs.lang }}
          </label>
        {% else %}
          <input class="itab" id="{{ common_id }}" type="radio" name="{{ common_id }}" {% if forloop.counter0 == active_tab|default:0 %} checked {% endif %}/>
          <label class="ltab" for="{{ common_id }}" style="display: none;">
          </label>
        {% endif %}
          <div class="tab">
          {% include widget.template_name %}
          </div>
      {% endfor %}
      <label class="ltab" for="add_{{ widget.attrs.id }}" onclick="alert('Add new lang'); return false;">
        +
      </label>
      <input class="itab" id="add_{{ widget.attrs.id }}" type="radio" name="{{ common_id }}"/>
      <div class="tab"></div>
    {% endwith %}
  </div>
{% endspaceless %}
